<div class="body">
    <nav>
        <label for="" class="logo">FilmZone</label>
        <ul>
            <li><a href="#" routerLink="home">Home</a></li>
            <li><a href="#" routerLink="popular">Popular Movies</a></li>
            <li><a href="#" routerLink="list">Upcoming Movies</a></li>
            <li><a href="#" routerLink="top">Top Rated Movies</a></li>
            <li><a href="#" routerLink="latest">Latest Movies</a></li>
            <!-- <button class="btn btn-success">Logout</button> -->
        </ul>
    </nav>
    <router-outlet></router-outlet>
</div>