<h1 style="margin: 30px 0 30px 160px">Popular Movies</h1>
<div class="list">
    <div class="row w-100">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row w-100">
                <div class="col-md-3" *ngFor="let movie of movieList">
                    <div class="card mb-2 ml-2 two" style="height: 425px;">
                        <img style="height: 55%;" [src]="getImgURL(movie.poster_path)" alt="">
                        <div class="card-body one" style="color: rgb(0, 0, 0);">
                            <div>
                                <span style="font-size: 20px;">Title: {{movie.title}}</span>
                            </div>
                            <div>
                                <span>Release Date: {{movie.release_date}}</span>
                            </div>
                            <div>
                                <span>Language: {{movie.original_language}}</span>
                            </div>
                            <div>
                                <span>Rating: {{movie.vote_average}} &#9733;&#9733;&#9733;</span>
                            </div>
                            <div class="three">
                                <span routerLink="../view/{{movie.id}}" class="btn btn-success">View</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div style="text-align: end; margin: 50px 100px 0 0;">
    <button type="button" routerLink="../popular" class="btn btn-primary">See More</button>
</div>


<br>
<h1 style="margin: 30px 0 30px 160px">Upcoming Movies</h1>
<div class="list">
    <div class="row w-100">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row w-100">
                <div class="col-md-3" *ngFor="let movie of movieItem">
                    <div class="card mb-2 ml-2 two" style="height: 425px;">
                        <img style="height: 55%;" [src]="getImgURL(movie.poster_path)" alt="">
                        <div class="card-body one" style="color: rgb(0, 0, 0);">
                            <div>
                                <span style="font-size: 20px;">Title: {{movie.title}}</span>
                            </div>
                            <div>
                                <span>Release Date: {{movie.release_date}}</span>
                            </div>
                            <div>
                                <span>Language: {{movie.original_language}}</span>
                            </div>
                            <div>
                                <span>Rating: {{movie.vote_average}} &#9733;&#9733;&#9733;</span>
                            </div>
                            <div class="three">
                                <span routerLink="../view/{{movie.id}}" class="btn btn-success">View</span>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
<div style="text-align: end; margin: 50px 100px 0 0;">
    <button type="button" routerLink="../list" class="btn btn-primary">See More</button>
</div>


<br>
<h1 style="margin: 30px 0 30px 160px">Top Rated Movies</h1>
<div class="list">
    <div class="row w-100">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row w-100">
                <div class="col-md-3" *ngFor="let movie of movieItem1">
                    <div class="card mb-2 ml-2 two" style="height: 425px;">
                        <img style="height: 55%;" [src]="getImgURL(movie.poster_path)" alt="">
                        <div class="card-body one" style="color: rgb(0, 0, 0);">
                            <div>
                                <span style="font-size: 20px;">Title: {{movie.title}}</span>
                            </div>
                            <div>
                                <span>Release Date: {{movie.release_date}}</span>
                            </div>
                            <div>
                                <span>Language: {{movie.original_language}}</span>
                            </div>
                            <div>
                                <span>Rating: {{movie.vote_average}} &#9733;&#9733;&#9733;</span>
                            </div>
                            <div class="three">
                                <span routerLink="../view/{{movie.id}}" class="btn btn-success">View</span>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
<div style="text-align: end; margin: 50px 100px 0 0;">
    <button type="button" routerLink="../top" class="btn btn-primary">See More</button>
</div>

<br>
<h1 style="margin: 30px 0 30px 160px">Latest Movies</h1>
<div class="list">
    <div class="row w-100">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row w-100">
                <div class="col-md-3" *ngFor="let movie of movieItem2">
                    <div class="card mb-2 ml-2 two" style="height: 425px;">
                        <img style="height: 55%;" [src]="getImgURL(movie.poster_path)" alt="">
                        <div class="card-body one" style="color: rgb(0, 0, 0);">
                            <div>
                                <span style="font-size: 20px;">Title: {{movie.title}}</span>
                            </div>
                            <div>
                                <span>Release Date: {{movie.release_date}}</span>
                            </div>
                            <div>
                                <span>Language: {{movie.original_language}}</span>
                            </div>
                            <div>
                                <span>Rating: {{movie.vote_average}} &#9733;&#9733;&#9733;</span>
                            </div>
                            <div class="three">
                                <span routerLink="../view/{{movie.id}}" class="btn btn-success">View</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div style="text-align: end; margin: 50px 100px 0 0;">
        <button type="button" routerLink="../latest" class="btn btn-primary">See More</button>
    </div>
</div>



